/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
  box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Template */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  border-top: 15px solid #1bd2ae;
  padding-top: 30px;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #1bd2ae;
}

a:hover {
  color: #333;
}

.trimline {
  margin: 2rem 0;
  border-color: #f1f1f1;
}

.image {
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
}

.clearfix:after {
  content: '';
  float: none;
  clear: both;
  height: 0px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  padding: 0 15px;
}

.header {
  margin-bottom: 2rem;
  text-align: center;
}

.navigation {
  margin-bottom: 5rem;
}

.navigation-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation-menu-list .navigation-menu-item {
  display: inline-block;
  margin: 0 15px;
}

.navigation-menu-list .navigation-menu-link {
  color: #888;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.navigation-menu-list .navigation-menu-link:hover {
  color: #555;
}

.codeblock {
  background: #eee;
  border: 1px solid #ddd;
  padding: 4px;
}

.content {
  padding: 20px 0;
}

.contributors-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 30px 0;
}

.contributors-list .contributors-list-item {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.contributors-list .contributors-list-avatar {
  float: left;
  width: 10%;
}

.contributors-list .contributors-list-avatar .image {
  margin-bottom: 0;
}

.contributors-list .contributors-list-details {
  width: 90%;
  float: left;
  padding-left: 30px;
}

.contributors-list .contributors-list-headline {
  margin-bottom: 0;
}

.contributors-list .contributors-list-detail {
  margin: 4px 0 0;
  font-size: .8rem;
  color: #666;
}

@media screen and (max-width: 480px) {
  .contributors-list .contributors-list-avatar {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }

  .contributors-list .contributors-list-avatar .image {
    max-width: 180px;
    display: block;
    margin: 0 auto;
  }

  .contributors-list .contributors-list-details {
    width: 100%;
    float: none;
    padding-left: 0;
  }
}
