{
  "clientid": "123456789012345678",
  "secretid": "abcdefghijklabcdefghijklabcdfasc",
  "username": "Devcord#1234",
  "token": "qwfgqwcqwqwqwtqtqwfqw.QDqwqdq.QWdqcqqw-wdq-QWF-qwfgvQvcQdqwgq"
}
